<h1 class="title">
  <%= @post.title %>
</h1>

<p class="date">
  <i>Submitted <%= time_ago_in_words(@post.created_at) %> ago</i>
</p>

<p class="body">
  Body: <%= @post.body %>
</p>

<br>

<%= link_to "Edit Post", edit_post_path %>
<%= link_to "Delete Post", post_path(@post), method: :delete %>